extends ../layouts/layout

block content
  h1 The bar
  p Here are all your drinks

  if error
    p Doh, something went wrong

  else
    - const categories = [...new Set(data.map(drink => drink.category))];
    each cat in categories
      h3= cat[0].toUpperCase() + cat.slice(1).toLowerCase()
      ul
        - const drinks = data.filter(drink => drink.category === cat)
        each drink in drinks
          - const description = drink.description ? ` - ${drink.description.toLowerCase()}` : ''
          - const url = `/drinks/${drink._id}`
          li
            a(href=url) #{drink.name}
            em #{description}

  a(href='/add-drink') Add a drink
