extends ../layouts/layout


block content
  -
    let today = new Date().toISOString().substr(0, 10)
    const todaysLog = log.find(entry => {
      const entryDate = entry.date.toISOString().substr(0, 10);
      return entryDate === today;
    })
  h1 Track your drinking
  form#log-form
    div.form-group
      div
        label(for='date') Date
        input(type='date' id='date' name='date' value=today)
        button(id='prev-day') <<
        button(id='next-day') >>
      label(for='no-drink') Nothing today?
      input(type='checkbox' id='no-drink' name='no-drink')

      if error
        p Doh, something went wrong

      else
        - const categories = [...new Set(userDrinks.map(drink => drink.category))];
        each cat in categories
          h3= cat[0].toUpperCase() + cat.slice(1).toLowerCase()
          -
            const drinks = userDrinks.filter(drink => drink.category === cat)
            drinks.sort((a,b) => a.name < b.name ? -1 : 1);
          each drink in drinks
            -
              const description = drink.description ? ` - ${drink.description.toLowerCase()}` : ''
              const url = `/drinks/${drink._id}`
              let qty = '';
              if (todaysLog) {
                todaysLog.drinks.forEach(log => {
                  if (log.drinkId.toString() === drink._id.toString()) qty = log.quantity;
                })
              }
            label(for=drink._id)
              #{drink.name}
              em #{drink.description} (#{drink.units} units)
            input(type='number' name=drink._id id=('ID'+drink._id) class='drink' min=0 value=qty)

      input(type='submit' value='Go')
